# **`SQL Mandatory Assignment 1`**

**Course**  :  <span style="color:rgb(0, 0, 0);font-family:&quot;Helvetica Neue&quot;;font-size:13px;">Executive Post Graduate Certification in Data Science &amp; Artificial Intelligence (iHub DIvya Sampark&nbsp;</span>  <span style="color:rgb(0, 0, 0);font-family:&quot;Helvetica Neue&quot;;font-size:13px;">IIT Roorkee and Intellipat</span><span style="color:rgb(0, 0, 0);font-family:&quot;Helvetica Neue&quot;;font-size:13px;">)</span>

**Batch** : 240206

**Course Start Date** :  Jul 2024

**Registered email** : [luckyrathod.forum@gmail.com](mailto:luckyrathod.forum@gmail.com)

**Name** : Laxman Rathod

<hr>

### <span style="font-size: 11.000000pt; font-family: 'Arial'; font-weight: 700">Problem Statement:</span>

<span style="font-size: 11.000000pt; font-family: 'ArialMT'">ABC Fashion is a leading retailer with a vast customer base and a team of dedicated sales representatives. They have a Sales Order Processing System that helps manage customer orders and interactions.&nbsp;</span>  

### <span style="font-size: 11.000000pt; font-family: 'Arial'; font-weight: 700">Dataset:</span>

<span style="font-size: 11.000000pt; font-family: 'ArialMT'">Find the below information and the script for the table creation and record insertion.</span>

<span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">https://docs.google.com/document/d/1ngN7Q0Mpo8j5BXidNHGRHmgbMSuG5XcFYnp_gD3woLA/edit</span>  

<span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);"><br></span>

### <span style="font-family: Arial; font-size: 11pt; font-weight: 700; color: var(--vscode-foreground);">Tasks to be Performed:</span>

1. <span style="font-size: 11pt;">Insert a new record in your Orders table.</span>
    
2. <span style="font-size: 11pt;">Add Primary key constraint for SalesmanId column in Salesman table. Add default</span>
    
    <span style="font-size: 11pt;">constraint for City column in Salesman table. Add Foreign key constraint for SalesmanId column in Customer table. Add not null constraint in Customer_name column for the Customer table.</span>
    
3. <span style="font-size: 11pt;">Fetch the data where the Customer’s name is ending with ‘N’ also get the purchase amount value greater than 500.</span>
    
4. <span style="font-size: 11pt;">Using SET operators, retrieve the first result with unique SalesmanId values from two tables, and the other result containing SalesmanId with duplicates from two tables.</span>
    
5. <span style="font-size: 11pt;">Display the below columns which has the matching data.<br></span><span style="font-size: 11.000000pt; font-family: 'Arial'; font-weight: 700">Orderdate, Salesman Name, Customer Name, Commission, and City </span> <span style="font-size: 11pt;">which has the range of Purchase Amount between 500 to 1500.</span>
    
6. <span style="font-size: 11pt;">Using right join fetch all the results from Salesman and Orders table&nbsp;</span>

<hr>

In [1]:
CREATE DATABASE Assignment

In [2]:
USE Assignment

In [31]:
-- Salesman table creation

CREATE TABLE Salesman (
    SalesmanId INT,
    Name VARCHAR(255),
    Commission DECIMAL(10, 2),
    City VARCHAR(255),
    Age INT
);

In [32]:
-- Salesman table record insertion 

INSERT INTO Salesman (SalesmanId, Name, Commission, City, Age)
VALUES
    (101, 'Joe', 50, 'California', 17),
    (102, 'Simon', 75, 'Texas', 25),
    (103, 'Jessie', 105, 'Florida', 35),
    (104, 'Danny', 100, 'Texas', 22),
    (105, 'Lia', 65, 'New Jersey', 30);

In [6]:
SELECT * FROM Salesman

SalesmanId,Name,Commission,City,Age
101,Joe,50.00,California,17
102,Simon,75.00,Texas,25
103,Jessie,105.00,Florida,35
104,Danny,100.00,Texas,22
105,Lia,65.00,New Jersey,30

In [7]:
-- Customer table creation

CREATE TABLE Customer (
    SalesmanId INT,
    CustomerId INT,
    CustomerName VARCHAR(255),
    PurchaseAmount INT,
    );

In [8]:
-- Customer table record insertion 

INSERT INTO Customer (SalesmanId, CustomerId, CustomerName, PurchaseAmount)
VALUES
    (101, 2345, 'Andrew', 550),
    (103, 1575, 'Lucky', 4500),
    (104, 2345, 'Andrew', 4000),
    (107, 3747, 'Remona', 2700),
    (110, 4004, 'Julia', 4545);

In [9]:
SELECT * FROM Customer

SalesmanId,CustomerId,CustomerName,PurchaseAmount
101,2345,Andrew,550
103,1575,Lucky,4500
104,2345,Andrew,4000
107,3747,Remona,2700
110,4004,Julia,4545

In [10]:
-- Orders table Creation

CREATE TABLE Orders (OrderId int, CustomerId int, SalesmanId int, Orderdate Date, Amount money)

In [11]:
-- Orders table record insertion 

INSERT INTO Orders Values 
(5001,2345,101,'2021-07-01',550),
(5003,1234,105,'2022-02-15',1500)

In [12]:
SELECT * FROM Orders

OrderId,CustomerId,SalesmanId,Orderdate,Amount
5001,2345,101,2021-07-01,550.00
5003,1234,105,2022-02-15,1500.00

1. <span style="font-size: 11pt;"><b>Insert a new record in your Orders table.</b></span>

In [13]:
INSERT INTO Orders VALUES (5005, 3456, 110, '2023-12-14', 2500)

In [14]:
SELECT * FROM Orders

OrderId,CustomerId,SalesmanId,Orderdate,Amount
5001,2345,101,2021-07-01,550.00
5003,1234,105,2022-02-15,1500.00
5005,3456,110,2023-12-14,2500.00

**2. <span style="font-family: &quot;Helvetica Neue&quot;; font-size: 13px; color: rgb(0, 0, 0);">Add Primary key constraint for SalesmanId column in Salesman table.&nbsp;</span>** 

**<span style="font-family: &quot;Helvetica Neue&quot;; font-size: 13px; color: rgb(0, 0, 0);">Add default</span><span style="font-family: &quot;Helvetica Neue&quot;; font-size: 13px; color: rgb(0, 0, 0);">constraint for City column in Salesman table.&nbsp;</span>** 

**<span style="font-family: &quot;Helvetica Neue&quot;; font-size: 13px; color: rgb(0, 0, 0);">Add Foreign key constraint for SalesmanId column in Customer table.&nbsp;</span>** 

**<span style="font-family: &quot;Helvetica Neue&quot;; font-size: 13px; color: rgb(0, 0, 0);">Add not null constraint in Customer_name column for the Customer table.</span>**

In [16]:
SP_HELP Salesman

Name,Owner,Type,Created_datetime
Salesman,dbo,user table,2023-12-14 07:36:06.107

Column_name,Type,Computed,Length,Prec,Scale,Nullable,TrimTrailingBlanks,FixedLenNullInSource,Collation
SalesmanId,int,no,4,10,0,yes,(n/a),(n/a),NULL
Name,varchar,no,255,,,yes,no,yes,SQL_Latin1_General_CP1_CI_AS
Commission,decimal,no,9,10,2,yes,(n/a),(n/a),NULL
City,varchar,no,255,,,yes,no,yes,SQL_Latin1_General_CP1_CI_AS
Age,int,no,4,10,0,yes,(n/a),(n/a),NULL

Identity,Seed,Increment,Not For Replication
No identity column defined.,NULL,NULL,NULL

RowGuidCol
No rowguidcol column defined.

Data_located_on_filegroup
PRIMARY

In [18]:
-- Add Primary key constraint for SalesmanId column in Salesman table
ALTER TABLE Salesman
ADD CONSTRAINT PK_SalesmanId PRIMARY KEY (SalesmanId);

: Msg 8111, Level 16, State 1, Line 2
Cannot define PRIMARY KEY constraint on nullable column in table 'Salesman'.

: Msg 1750, Level 16, State 0, Line 2
Could not create constraint or index. See previous errors.

In [33]:
-- To avoid the above error we need to alter the column to accept NOT NULL values. Only therafter we can add
-- PRIMARY KEY Constraint on SalesmanId
-- Note you need not truncate the table before altering the column to NOT NULL 
-- And also note that there is no need of adding UNIQUE Constraint. Still it will add PRIMARY KEY COnstraint 
-- as seen in the next query, provided there is no duplicate value in the SalemanId column

ALTER TABLE Salesman
ALTER COLUMN SalesmanId INT NOT NULL

In [34]:
-- Add Primary key constraint for SalesmanId column in Salesman table
ALTER TABLE Salesman
ADD CONSTRAINT PK_SalesmanId PRIMARY KEY (SalesmanId);

In [35]:
-- Add default constraint for City column in Salesman table
ALTER TABLE Salesman
ADD CONSTRAINT DF_City DEFAULT 'Unknown' FOR City;

In [40]:
-- Add Foreign key constraint for SalesmanId column in Customer table
ALTER TABLE Customer
ADD CONSTRAINT FK_SalesmanId FOREIGN KEY (SalesmanId)
REFERENCES Salesman(SalesmanId);

: Msg 547, Level 16, State 0, Line 2
The ALTER TABLE statement conflicted with the FOREIGN KEY constraint "FK_SalesmanId". The conflict occurred in database "Assignment", table "dbo.Salesman", column 'SalesmanId'.

In [39]:
SP_HELP Salesman

Name,Owner,Type,Created_datetime
Salesman,dbo,user table,2023-12-14 08:04:51.627

Column_name,Type,Computed,Length,Prec,Scale,Nullable,TrimTrailingBlanks,FixedLenNullInSource,Collation
SalesmanId,int,no,4,10,0,no,(n/a),(n/a),NULL
Name,varchar,no,255,,,yes,no,yes,SQL_Latin1_General_CP1_CI_AS
Commission,decimal,no,9,10,2,yes,(n/a),(n/a),NULL
City,varchar,no,255,,,yes,no,yes,SQL_Latin1_General_CP1_CI_AS
Age,int,no,4,10,0,yes,(n/a),(n/a),NULL

Identity,Seed,Increment,Not For Replication
No identity column defined.,NULL,NULL,NULL

RowGuidCol
No rowguidcol column defined.

Data_located_on_filegroup
PRIMARY

index_name,index_description,index_keys
PK_SalesmanId,"clustered, unique, primary key located on PRIMARY",SalesmanId

constraint_type,constraint_name,delete_action,update_action,status_enabled,status_for_replication,constraint_keys
DEFAULT on column City,DF_City,(n/a),(n/a),(n/a),(n/a),('Unknown')
PRIMARY KEY (clustered),PK_SalesmanId,(n/a),(n/a),(n/a),(n/a),SalesmanId

In [ ]:

-- Add Not Null constraint for CustomerName column in Customer table
ALTER TABLE Customer
ALTER COLUMN CustomerName VARCHAR(255) NOT NULL;

**3. <span style="font-family: &quot;Helvetica Neue&quot;; font-size: 13px; color: rgb(0, 0, 0);">Fetch the data where the Customer’s name is ending with ‘N’ also get the purchase amount value greater than 500.</span>**

In [3]:
SELECT *
FROM Customer
WHERE RIGHT(CustomerName, 1) = 'N' AND PurchaseAmount > 500;

**4. <span style="font-family: &quot;Helvetica Neue&quot;; font-size: 13px; color: rgb(0, 0, 0);">Using SET operators, retrieve the first result with unique SalesmanId values from two tables, and the other result containing SalesmanId with duplicates from two tables.</span>**

In [4]:
-- Unique SalesmanId values
SELECT SalesmanId FROM Salesman
UNION
SELECT SalesmanId FROM Customer;

SalesmanId
101
102
103
104
105
107
110

In [5]:
-- SalesmanId with duplicates
SELECT SalesmanId FROM Salesman
INTERSECT
SELECT SalesmanId FROM Customer;

SalesmanId
101
103
104

**5. <span style="font-family: &quot;Helvetica Neue&quot;; font-size: 13px; color: rgb(0, 0, 0);">Display the below columns which has the matching data.&nbsp;</span>  Orderdate, Salesman Name, Customer Name, Commission, and City <span style="font-family: &quot;Helvetica Neue&quot;; font-size: 13px; color: rgb(0, 0, 0);">which has the range of Purchase Amount between 500 to 1500.</span>**

In [6]:
SELECT O.Orderdate, S.Name AS 'Salesman Name', C.CustomerName, S.Commission, S.City
FROM Orders O
JOIN Salesman S ON O.SalesmanId = S.SalesmanId
JOIN Customer C ON O.CustomerId = C.CustomerId
WHERE O.Amount BETWEEN 500 AND 1500;

Orderdate,Salesman Name,CustomerName,Commission,City
2021-07-01,Joe,Andrew,50.00,California
2021-07-01,Joe,Andrew,50.00,California

**6. <span style="font-family: &quot;Helvetica Neue&quot;; font-size: 13px; color: rgb(0, 0, 0);">Using right join fetch all the results from Salesman and Orders table&nbsp;</span>**

In [3]:
SELECT *
FROM Salesman
RIGHT JOIN Orders ON Salesman.SalesmanId = Orders.SalesmanId;

SalesmanId,Name,Commission,City,Age,OrderId,CustomerId,SalesmanId,Orderdate,Amount
101,Joe,50.00,California,17,5001,2345,101,2021-07-01,550.00
105,Lia,65.00,New Jersey,30,5003,1234,105,2022-02-15,1500.00
NULL,NULL,NULL,NULL,NULL,5005,3456,110,2023-12-14,2500.00