# **`SQL-CaseStudy-02`**

**Course**  :  <span style="color:rgb(0, 0, 0);font-family:&quot;Helvetica Neue&quot;;font-size:13px;">Executive Post Graduate Certification in Data Science &amp; Artificial Intelligence (iHub DIvya Sampark&nbsp;</span>      <span style="color:rgb(0, 0, 0);font-family:&quot;Helvetica Neue&quot;;font-size:13px;">IIT Roorkee and Intellipat</span><span style="color:rgb(0, 0, 0);font-family:&quot;Helvetica Neue&quot;;font-size:13px;">)</span>

**Batch** : 240206

**Course Start Date** :  Jul 2024

**Registered email** : [luckyrathod.forum@gmail.com](mailto:luckyrathod.forum@gmail.com)

**Submitted By** : Major Laxman Rathod

<hr>

In [1]:
CREATE DATABASE sql_case_study

In [1]:
USE sql_case_study

In [10]:
CREATE TABLE LOCATION (
  Location_ID INT PRIMARY KEY,
  City VARCHAR(50)
);

In [11]:

INSERT INTO LOCATION (Location_ID, City)
VALUES (122, 'New York'),
       (123, 'Dallas'),
       (124, 'Chicago'),
       (167, 'Boston');

In [12]:
SELECT * FROM Location

Location_ID,City
122,New York
123,Dallas
124,Chicago
167,Boston

In [13]:

  CREATE TABLE DEPARTMENT (
  Department_Id INT PRIMARY KEY,
  Name VARCHAR(50),
  Location_Id INT,
  FOREIGN KEY (Location_Id) REFERENCES LOCATION(Location_ID)
);

In [14]:

INSERT INTO DEPARTMENT (Department_Id, Name, Location_Id)
VALUES (10, 'Accounting', 122),
       (20, 'Sales', 124),
       (30, 'Research', 123),
       (40, 'Operations', 167);

	   CREATE TABLE JOB (
  Job_ID INT PRIMARY KEY,
  Designation VARCHAR(50)
);

In [15]:
SELECT * FROM Department

Department_Id,Name,Location_Id
10,Accounting,122
20,Sales,124
30,Research,123
40,Operations,167

In [18]:

CREATE TABLE JOB
(JOB_ID INT PRIMARY KEY,
DESIGNATION VARCHAR(20))

In [19]:

INSERT  INTO JOB VALUES
(667, 'CLERK'),
(668,'STAFF'),
(669,'ANALYST'),
(670,'SALES_PERSON'),
(671,'MANAGER'),
(672, 'PRESIDENT')

In [20]:
SELECT * FROM Job

JOB_ID,DESIGNATION
667,CLERK
668,STAFF
669,ANALYST
670,SALES_PERSON
671,MANAGER
672,PRESIDENT

In [21]:

CREATE TABLE EMPLOYEE
(EMPLOYEE_ID INT,
LAST_NAME VARCHAR(20),
FIRST_NAME VARCHAR(20),
MIDDLE_NAME CHAR(1),
JOB_ID INT FOREIGN KEY
REFERENCES JOB(JOB_ID),
MANAGER_ID INT,
HIRE_DATE DATE,
SALARY INT,
COMM INT,
DEPARTMENT_ID  INT FOREIGN KEY
REFERENCES DEPARTMENT(DEPARTMENT_ID))

In [22]:

INSERT INTO EMPLOYEE VALUES
(7369,'SMITH','JOHN','Q',667,7902,'17-DEC-84',800,NULL,20),
(7499,'ALLEN','KEVIN','J',670,7698,'20-FEB-84',1600,300,30),
(7505,'DOYLE','JEAN','K',671,7839,'04-APR-85',2850,NULl,30),
(7506,'DENNIS','LYNN','S',671,7839,'15-MAY-85',2750,NULL,30),
(7507,'BAKER','LESLIE','D',671,7839,'10-JUN-85',2200,NULL,40),
(7521,'WARK','CYNTHIA','D',670,7698,'22-FEB-85',1250,500,30)

In [23]:
SELECT * FROM Employee

EMPLOYEE_ID,LAST_NAME,FIRST_NAME,MIDDLE_NAME,JOB_ID,MANAGER_ID,HIRE_DATE,SALARY,COMM,DEPARTMENT_ID
7369,SMITH,JOHN,Q,667,7902,1984-12-17,800,NULL,20
7499,ALLEN,KEVIN,J,670,7698,1984-02-20,1600,300,30
7505,DOYLE,JEAN,K,671,7839,1985-04-04,2850,NULL,30
7506,DENNIS,LYNN,S,671,7839,1985-05-15,2750,NULL,30
7507,BAKER,LESLIE,D,671,7839,1985-06-10,2200,NULL,40
7521,WARK,CYNTHIA,D,670,7698,1985-02-22,1250,500,30

# **Simple Queries**

In [4]:
-- Task 1 : List all the employee details.
USE sql_case_study

Select * FROM Employee

EMPLOYEE_ID,LAST_NAME,FIRST_NAME,MIDDLE_NAME,JOB_ID,MANAGER_ID,HIRE_DATE,SALARY,COMM,DEPARTMENT_ID
7369,SMITH,JOHN,Q,667,7902,1984-12-17,800,NULL,20
7499,ALLEN,KEVIN,J,670,7698,1984-02-20,1600,300,30
7505,DOYLE,JEAN,K,671,7839,1985-04-04,2850,NULL,30
7506,DENNIS,LYNN,S,671,7839,1985-05-15,2750,NULL,30
7507,BAKER,LESLIE,D,671,7839,1985-06-10,2200,NULL,40
7521,WARK,CYNTHIA,D,670,7698,1985-02-22,1250,500,30

In [5]:
-- Task 2 : List all the department details.

Select * from Department

Department_Id,Name,Location_Id
10,Accounting,122
20,Sales,124
30,Research,123
40,Operations,167

In [6]:
-- Task 3 : List all job details.

Select * from JOb

JOB_ID,DESIGNATION
667,CLERK
668,STAFF
669,ANALYST
670,SALES_PERSON
671,MANAGER
672,PRESIDENT

In [7]:
-- Task 4 : List all the locations.

SELECT * FROM Location

Location_ID,City
122,New York
123,Dallas
124,Chicago
167,Boston

In [8]:
-- Task 5 : List out the First Name, Last Name, Salary, Commission for all Employees.

SELECT first_name, last_name, Salary, Comm
FROM Employee

first_name,last_name,Salary,Comm
JOHN,SMITH,800,NULL
KEVIN,ALLEN,1600,300
JEAN,DOYLE,2850,NULL
LYNN,DENNIS,2750,NULL
LESLIE,BAKER,2200,NULL
CYNTHIA,WARK,1250,500

In [9]:
-- Task 6 : List out the Employee ID, Last Name, Department ID for all employees and alias
-- Employee ID as "ID of the Employee", Last Name as "Name of the
-- Employee", Department ID as "Dep_id".

SELECT employee_id AS 'ID of the Employee', last_name AS 'Name of the Employee', department_id AS 'Dep_id'
FROM Employee

ID of the Employee,Name of the Employee,Dep_id
7369,SMITH,20
7499,ALLEN,30
7505,DOYLE,30
7506,DENNIS,30
7507,BAKER,40
7521,WARK,30

In [10]:
-- Task 7 : List out the annual salary of the employees with their names only.

SELECT first_name, middle_name, last_name, salary
FROM Employee

first_name,middle_name,last_name,salary
JOHN,Q,SMITH,800
KEVIN,J,ALLEN,1600
JEAN,K,DOYLE,2850
LYNN,S,DENNIS,2750
LESLIE,D,BAKER,2200
CYNTHIA,D,WARK,1250

# **WHERE Condition**

In [11]:
-- Task 1 : List the details about "Smith".

SELECT * 
FROM Employee
WHERE first_name = 'Smith' OR last_name = 'Smith'

EMPLOYEE_ID,LAST_NAME,FIRST_NAME,MIDDLE_NAME,JOB_ID,MANAGER_ID,HIRE_DATE,SALARY,COMM,DEPARTMENT_ID
7369,SMITH,JOHN,Q,667,7902,1984-12-17,800,NULL,20

In [12]:
-- Task 2 : List out the employees who are working in department 20.

SELECT * 
FROM Employee
WHERE department_id = 20

EMPLOYEE_ID,LAST_NAME,FIRST_NAME,MIDDLE_NAME,JOB_ID,MANAGER_ID,HIRE_DATE,SALARY,COMM,DEPARTMENT_ID
7369,SMITH,JOHN,Q,667,7902,1984-12-17,800,NULL,20

In [13]:
-- Task 3 : List out the employees who are earning salaries between 3000 and 4500.
SELECT * 
FROM Employee
WHERE Salary BETWEEN 3000 and 4500

In [14]:
-- Task 4 : List out the employees who are working in department 10 or 20.

SELECT * 
FROM Employee
WHERE Department_id IN (10,20)

EMPLOYEE_ID,LAST_NAME,FIRST_NAME,MIDDLE_NAME,JOB_ID,MANAGER_ID,HIRE_DATE,SALARY,COMM,DEPARTMENT_ID
7369,SMITH,JOHN,Q,667,7902,1984-12-17,800,NULL,20

In [15]:
-- Task 5 : Find out the employees who are not working in department 10 or 30.

SELECT * 
FROM Employee
WHERE Department_id NOT IN (10,30)

EMPLOYEE_ID,LAST_NAME,FIRST_NAME,MIDDLE_NAME,JOB_ID,MANAGER_ID,HIRE_DATE,SALARY,COMM,DEPARTMENT_ID
7369,SMITH,JOHN,Q,667,7902,1984-12-17,800,NULL,20
7507,BAKER,LESLIE,D,671,7839,1985-06-10,2200,NULL,40

In [16]:
-- Task 6 : List out the employees whose name starts with 'S'.

-- Assumption : from here onwards wherever the name is referred it will be considered as last_name

SELECT * 
FROM Employee
WHERE last_name LIKE 'S%'

EMPLOYEE_ID,LAST_NAME,FIRST_NAME,MIDDLE_NAME,JOB_ID,MANAGER_ID,HIRE_DATE,SALARY,COMM,DEPARTMENT_ID
7369,SMITH,JOHN,Q,667,7902,1984-12-17,800,NULL,20

In [17]:
-- Task 7 : List out the employees whose name starts with 'S' and ends with 'H'.

SELECT * 
FROM Employee
WHERE last_name LIKE 'S%H'

EMPLOYEE_ID,LAST_NAME,FIRST_NAME,MIDDLE_NAME,JOB_ID,MANAGER_ID,HIRE_DATE,SALARY,COMM,DEPARTMENT_ID
7369,SMITH,JOHN,Q,667,7902,1984-12-17,800,NULL,20

In [18]:
-- Task 8 : List out the employees whose name length is 4 and start with 'S'.

SELECT * 
FROM Employee
WHERE last_name LIKE 'S%' and LEN(last_name) = 4

In [20]:
-- Task 9 : List out employees who are working in department 10 and draw salaries more than 3500.

SELECT * 
FROM Employee
WHERE department_id = 10 AND salary > 3500

In [21]:
-- Task 10 : List out the employees who are not receiving commission.

SELECT * 
FROM Employee
WHERE comm IS NULL

EMPLOYEE_ID,LAST_NAME,FIRST_NAME,MIDDLE_NAME,JOB_ID,MANAGER_ID,HIRE_DATE,SALARY,COMM,DEPARTMENT_ID
7369,SMITH,JOHN,Q,667,7902,1984-12-17,800,NULL,20
7505,DOYLE,JEAN,K,671,7839,1985-04-04,2850,NULL,30
7506,DENNIS,LYNN,S,671,7839,1985-05-15,2750,NULL,30
7507,BAKER,LESLIE,D,671,7839,1985-06-10,2200,NULL,40

# **ORDER BY Clause**

In [22]:
-- Task 1 : List out the Employee ID and Last Name in ascending order based on the Employee ID.

SELECT employee_id, last_name
FROM Employee
ORDER BY employee_id -- As the default order is ASC

employee_id,last_name
7369,SMITH
7499,ALLEN
7505,DOYLE
7506,DENNIS
7507,BAKER
7521,WARK

In [23]:
-- Task 2 : List out the Employee ID and Name in descending order based on salary.

SELECT employee_id, last_name
FROM Employee
ORDER BY Salary DESC

employee_id,last_name
7505,DOYLE
7506,DENNIS
7507,BAKER
7499,ALLEN
7521,WARK
7369,SMITH

In [24]:
-- Task 3 : List out the employee details according to their Last Name in ascending-order.

SELECT *
FROM Employee
ORDER BY last_name ASC

EMPLOYEE_ID,LAST_NAME,FIRST_NAME,MIDDLE_NAME,JOB_ID,MANAGER_ID,HIRE_DATE,SALARY,COMM,DEPARTMENT_ID
7499,ALLEN,KEVIN,J,670,7698,1984-02-20,1600,300,30
7507,BAKER,LESLIE,D,671,7839,1985-06-10,2200,NULL,40
7506,DENNIS,LYNN,S,671,7839,1985-05-15,2750,NULL,30
7505,DOYLE,JEAN,K,671,7839,1985-04-04,2850,NULL,30
7369,SMITH,JOHN,Q,667,7902,1984-12-17,800,NULL,20
7521,WARK,CYNTHIA,D,670,7698,1985-02-22,1250,500,30

In [25]:
-- Task 4 : List out the employee details according to their Last Name in ascending
-- order and then Department ID in descending order

SELECT *
FROM Employee
ORDER BY last_name ASC, department_id DESC

EMPLOYEE_ID,LAST_NAME,FIRST_NAME,MIDDLE_NAME,JOB_ID,MANAGER_ID,HIRE_DATE,SALARY,COMM,DEPARTMENT_ID
7499,ALLEN,KEVIN,J,670,7698,1984-02-20,1600,300,30
7507,BAKER,LESLIE,D,671,7839,1985-06-10,2200,NULL,40
7506,DENNIS,LYNN,S,671,7839,1985-05-15,2750,NULL,30
7505,DOYLE,JEAN,K,671,7839,1985-04-04,2850,NULL,30
7369,SMITH,JOHN,Q,667,7902,1984-12-17,800,NULL,20
7521,WARK,CYNTHIA,D,670,7698,1985-02-22,1250,500,30

# **GROUP BY and HAVING Clause**

In [30]:
-- Task 1 : List out the department wise maximum salary, minimum salary and average salary of the employees.

SELECT department_id, MAX(Salary) AS MaxSalary, MIN(Salary) AS MinSalry, AVG(Salary) AS AvgSalary
FROM Employee
GROUP BY department_id

department_id,MaxSalary,MinSalry,AvgSalary
20,800,800,800
30,2850,1250,2112
40,2200,2200,2200

In [28]:
-- Task 2 : List out the job wise maximum salary, minimum salary and average salary of the employees.

SELECT job_id, MAX(Salary) AS MaxSalary, MIN(Salary) AS MinSalry, AVG(Salary) AS AvgSalary
FROM Employee
GROUP BY job_id

job_id,(No column name),(No column name),(No column name)
667,800,800,800
670,1600,1250,1425
671,2850,2200,2600

In [34]:
-- Task 3 : List out the number of employees who joined each month in ascending order.

SELECT DATEPART(MONTH,hire_date) AS MonthOfYear, count(last_name) AS NoOfEmployees
FROM Employee
GROUP BY DATEPART(MONTH,hire_date)
ORDER BY DATEPART(MONTH,hire_date) ASC

MonthOfYear,NoOfEmployees
2,2
4,1
5,1
6,1
12,1

In [35]:
-- Task 4 : List out the number of employees for each month and year in ascending order based on the year and month.
SELECT DATEPART(MONTH,hire_date) AS Month, DATEPART(YEAR,hire_date) AS Year, COUNT(last_name) AS NoOfEmployees
FROM Employee
GROUP BY DATEPART(MONTH,hire_date), DATEPART(YEAR,hire_date) 
ORDER BY DATEPART(YEAR,hire_date), DATEPART(MONTH,hire_date) ASC

Month,Year,NoOfEmployees
2,1984,1
12,1984,1
2,1985,1
4,1985,1
5,1985,1
6,1985,1

In [37]:
-- Task 5 : List out the Department ID having at least four employees.

SELECT department_id, COUNT(last_name) AS NoOfEmployees
FROM Employee
GROUP BY department_id
HAVING COUNT(last_name) >= 4

department_id,NoOfEmployees
30,4

In [38]:
-- Task 6 : How many employees joined in the month of January?

SELECT DATEPART(MONTH,hire_date) AS MonthOfYear, count(last_name) AS NoOfEmployees
FROM Employee
WHERE DATEPART(MONTH,hire_date) = 1
GROUP BY DATEPART(MONTH,hire_date)

In [39]:
-- Task 7 : How many employees joined in the month of January or September?

SELECT DATEPART(MONTH,hire_date) AS MonthOfYear, count(last_name) AS NoOfEmployees
FROM Employee
WHERE DATEPART(MONTH,hire_date) IN (1,9)
GROUP BY DATEPART(MONTH,hire_date)

In [46]:
-- Task 8 : How many employees joined in 1985?

SELECT DATEPART(YEAR,hire_date) AS Year, count(last_name) AS NoOfEmployees
FROM Employee
WHERE DATEPART(YEAR,hire_date) = 1985
GROUP BY DATEPART(YEAR,hire_date)

Year,NoOfEmployees
1985,4

In [49]:
-- Task 9 : How many employees joined each month in 1985?

SELECT DATEPART(MONTH,hire_date) AS Month, count(last_name) AS NoOfEmployees
FROM Employee
WHERE DATEPART(YEAR,hire_date) = 1985
GROUP BY DATEPART(MONTH,hire_date)

: Msg 8121, Level 16, State 1, Line 6
Column 'Employee.HIRE_DATE' is invalid in the HAVING clause because it is not contained in either an aggregate function or the GROUP BY clause.

In [53]:
-- Task 10 : How many employees joined in March 1985?

-- Method 1 : With GROUP BY
SELECT DATEPART(MONTH,hire_date) AS Month, count(last_name) AS NoOfEmployees
FROM Employee
WHERE DATEPART(MONTH,hire_date) = 3
GROUP BY DATEPART(MONTH,hire_date)

-- Method 2 : Without GROUP BY
SELECT count(1) AS NoOfEmployees
FROM Employee
WHERE DATEPART(YEAR,hire_date) = 3

NoOfEmployees
0

In [54]:
-- Task 11 : Which is the Department ID having greater than or equal to 3 employees joining in April 1985?


SELECT department_id, COUNT(last_name) AS NoOfEmployees
FROM Employee
WHERE DATEPART(MONTH, hire_date) =4 AND DATEPART(YEAR,hire_date) = 1985
GROUP BY department_id
HAVING COUNT(last_name) >= 3

# **JOINS**

In [59]:
-- Task 1 : List out employees with their department names.

SELECT E.first_name, E.last_name, D.Name
FROM Employee E
JOIN Department D
ON E.department_id = D.department_id

first_name,last_name,Name
JOHN,SMITH,Sales
KEVIN,ALLEN,Research
JEAN,DOYLE,Research
LYNN,DENNIS,Research
LESLIE,BAKER,Operations
CYNTHIA,WARK,Research

In [68]:
-- Task 2 : Display employees with their designations.

SELECT E.first_name, E.last_name, J.Designation
FROM Employee E
JOIN Job J ON E.Job_id = J.Job_id

first_name,last_name,Designation
JOHN,SMITH,CLERK
KEVIN,ALLEN,SALES_PERSON
JEAN,DOYLE,MANAGER
LYNN,DENNIS,MANAGER
LESLIE,BAKER,MANAGER
CYNTHIA,WARK,SALES_PERSON

In [66]:
-- Task 3 : Display the employees with their department names and regional groups.
SELECT E.first_name, E.last_name, D.Name, L.City
FROM Employee E
JOIN Department D ON E.department_id = D.department_id
JOIN Location L ON D.Location_Id = L.Location_Id

first_name,last_name,Name,City
JOHN,SMITH,Sales,Chicago
KEVIN,ALLEN,Research,Dallas
JEAN,DOYLE,Research,Dallas
LYNN,DENNIS,Research,Dallas
LESLIE,BAKER,Operations,Boston
CYNTHIA,WARK,Research,Dallas

In [72]:
-- Task 4 : How many employees are working in different departments? Display with department names.

SELECT  D.Name AS Department, COUNT(E.last_name) AS NoOfEmployees
FROM Employee E
JOIN Department D ON E.department_id = D.department_id
GROUP BY D.Name

Department,NoOfEmployees
Operations,1
Research,4
Sales,1

In [75]:
-- Task 5 : How many employees are working in the sales department?

-- METHOD 1 : Using WHERE CLAUSE
SELECT  D.Name AS Department, COUNT(E.last_name) AS NoOfEmployees
FROM Employee E
JOIN Department D ON E.department_id = D.department_id
WHERE D.Name = 'Sales'
GROUP BY D.Name


-- METHOD 2 : Using HAVING CLAUSE
SELECT  D.Name AS Department, COUNT(E.last_name) AS NoOfEmployees
FROM Employee E
JOIN Department D ON E.department_id = D.department_id
GROUP BY D.Name
HAVING D.Name = 'Sales'

Department,NoOfEmployees
Sales,1

Department,NoOfEmployees
Sales,1

In [78]:
-- Task 6 : Which is the department having greater than or equal to 5 employees? Display the department names in ascending order.

SELECT  D.Name AS Department, COUNT(E.last_name) AS NoOfEmployees
FROM Employee E
JOIN Department D ON E.department_id = D.department_id
GROUP BY D.Name
HAVING COUNT(E.last_name) >= 5

-- Note : There are no Department with greater than or equal to 5 employees

In [2]:
-- Task 7 : How many employees are working in "New York"?

SELECT L.City, COUNT(E.last_name)
FROM Employee E
JOIN Department D ON E.department_id = D.department_id
JOIN Location L ON D.Location_Id = L.Location_Id
GROUP BY L.City
HAVING L.City = 'Dallas'

-- Note : The Answer is 0 because there are no employees with location as 'New York'

City,(No column name)
Dallas,4

In [100]:
-- Task 08 : Display all employees in sales or operation departments.

SELECT E.first_name, E.last_name, D.Name
FROM Employee E
JOIN Department D ON E.department_id = D.department_id
WHERE D.Name IN ('Sales', 'Operation')

first_name,last_name,Name
JOHN,SMITH,Sales

# **CONDITIONAL STATEMENTS**

In [4]:
-- Task 1 : Display the employee details with salary grades. Use conditional statement to create grade column

SELECT 
    EMPLOYEE_ID, 
    LAST_NAME, 
    FIRST_NAME, 
    SALARY,
    CASE 
        WHEN SALARY < 2000 THEN 'Low'
        WHEN SALARY BETWEEN 2000 AND 5000 THEN 'Medium'
        ELSE 'High'
    END AS Grade
FROM EMPLOYEE;

EMPLOYEE_ID,LAST_NAME,FIRST_NAME,SALARY,Grade
7369,SMITH,JOHN,880,Low
7499,ALLEN,KEVIN,1600,Low
7505,DOYLE,JEAN,2850,Medium
7506,DENNIS,LYNN,2750,Medium
7507,BAKER,LESLIE,2200,Medium
7521,WARK,CYNTHIA,1250,Low

In [5]:
-- Task 2 : List out the number of employees grade wise. Use conditional statement to create grade column

SELECT 
    Grade,
    COUNT(*) AS NumberOfEmployees
FROM (
    SELECT 
        EMPLOYEE_ID, 
        LAST_NAME, 
        FIRST_NAME, 
        SALARY,
        CASE 
            WHEN SALARY < 2000 THEN 'Low'
            WHEN SALARY BETWEEN 2000 AND 5000 THEN 'Medium'
            ELSE 'High'
        END AS Grade
    FROM EMPLOYEE
) AS GradedEmployees
GROUP BY Grade;

Grade,NumberOfEmployees
Low,3
Medium,3

In [6]:
-- Task 3 : Display the employee salary grades and the number of employees between 2000 to 5000 range of salary

SELECT 
    Grade,
    COUNT(*) AS NumberOfEmployees
FROM (
    SELECT 
        EMPLOYEE_ID, 
        LAST_NAME, 
        FIRST_NAME, 
        SALARY,
        CASE 
            WHEN SALARY < 2000 THEN 'Low'
            WHEN SALARY BETWEEN 2000 AND 5000 THEN 'Medium'
            ELSE 'High'
        END AS Grade
    FROM EMPLOYEE
) AS GradedEmployees
WHERE Grade = 'Medium'
GROUP BY Grade;

Grade,NumberOfEmployees
Medium,3

# **Subqueries**

In [111]:
-- Task 1 : Display the employees list who got the maximum salary.

SELECT first_name, last_name, Salary
FROM Employee
WHERE Salary = (SELECT MAX(Salary) FROM Employee)

first_name,last_name,Salary
JEAN,DOYLE,2850

In [113]:
-- Task 2 : Display the employees who are working in the sales department.

-- Method 1 : Using SubQueries
SELECT first_name, last_name
FROM Employee
WHERE Department_id = (SELECT Department_id  FROM Department WHERE Name='Sales')

-- Method 2 : Using JOIN
SELECT E.first_name, E.last_name, D.Name
FROM Employee E
JOIN Department D ON E.department_id = D.department_id
WHERE D.Name = 'Sales'

first_name,last_name,Salary
JOHN,SMITH,800

first_name,last_name,Name
JOHN,SMITH,Sales

In [115]:
-- Task 3 : Display the employees who are working as 'Clerk'.

-- Method 1 : Using SubQueries
SELECT first_name, last_name
FROM Employee
WHERE Job_id = (SELECT Job_id  FROM Job WHERE Designation='Clerk')

-- Method 2 : Using JOIN
SELECT E.first_name, E.last_name, J.Designation
FROM Employee E
JOIN Job J ON E.Job_id = J.Job_id
WHERE J.Designation = 'Clerk'

first_name,last_name
JOHN,SMITH

first_name,last_name,Designation
JOHN,SMITH,CLERK

In [3]:
-- Task 4 : Display the list of employees who are living in "Boston".

-- Method 1 : Using SubQueries
SELECT first_name, last_name
FROM Employee
WHERE Department_id = (Select department_id FROM Department WHERE Location_id = (SELECT Location_id  FROM Location WHERE City='Boston'))

-- The answer is 0 because there is no location with city as 'New York'

first_name,last_name
LESLIE,BAKER

In [120]:
-- Task 5 : Find out the number of employees working in the sales department.

SELECT COUNT(last_name) AS NoOfEmployees
FROM Employee
WHERE Department_id = (SELECT Department_id  FROM Department WHERE Name='Sales')

NoOfEmployees
1

In [124]:
-- Task 6 : Update the salaries of employees who are working as clerks on the basis of 10%.

SELECT first_name, last_name, salary from Employee WHERE Job_id = (SELECT Job_id FROM Job WHERE Designation='Clerk')

UPDATE Employee 
SET Salary = Salary + Salary*0.10
WHERE Job_id = (SELECT Job_id FROM Job WHERE Designation='Clerk')

SELECT first_name, last_name, salary from Employee WHERE Job_id = (SELECT Job_id FROM Job WHERE Designation='Clerk')

first_name,last_name,salary
JOHN,SMITH,800

first_name,last_name,salary
JOHN,SMITH,880

In [139]:
-- Task 7 : Display the second highest salary drawing employee details.

WITH SecondHighestSalary
AS
(
    SELECT first_name, last_name, Salary, DENSE_RANK() OVER (ORDER BY Salary DESC) AS DepartmentSalaryRank
    FROM Employee
)
SELECT * FROM SecondHighestSalary WHERE DepartmentSalaryRank = 2

first_name,last_name,Salary,DepartmentSalaryRank
LYNN,DENNIS,2750,2

In [149]:
-- Task 08 : List out the employees who earn more than every employee in department 30.

SELECT * FROM Employee 
WHERE Salary > (SELECT MAX(Salary) FROM Employee WHERE Department_id = 30)

In [156]:
-- Task 09 : Find out which department has no employees.


SELECT Department_id, Name 
FROM Department
WHERE Department_id NOT IN (SELECT DISTINCT department_id FROM Employee)

Department_id,Name
10,Accounting

In [160]:
-- Task 10 : Find out the employees who earn greater than the average salary for their department.

WITH AverageSalary
AS
(
    SELECT Department_id, AVG(Salary) AS AvgSalary
    FROM Employee 
    GROUP BY Department_id
)
SELECT E.first_name, E.last_name, E.Salary
FROM Employee E
JOIN AverageSalary A
ON E.Department_Id = A.Department_Id
WHERE E.Salary > A.AvgSalary

first_name,last_name,Salary
JEAN,DOYLE,2850
LYNN,DENNIS,2750

In [161]:
-- Note : Query to check above answer

SELECT E.first_name, E.last_name, E.Salary, E.Department_id, D.Name
FROM Employee E
JOIN Department D
ON E.Department_Id = D.Department_Id

SELECT Department_id, AVG(Salary) AS AvgSalary
FROM Employee 
GROUP BY Department_id

first_name,last_name,Salary,Department_id,Name
JOHN,SMITH,880,20,Sales
KEVIN,ALLEN,1600,30,Research
JEAN,DOYLE,2850,30,Research
LYNN,DENNIS,2750,30,Research
LESLIE,BAKER,2200,40,Operations
CYNTHIA,WARK,1250,30,Research

Department_id,AvgSalary
20,880
30,2112
40,2200